@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Conferma della password Dimenticata";
}

<h1>@ViewData["Title"]</h1>
<p>
    Controlla la tua email per resettare la tua password.
</p>

