@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

    <style>
        /*Css Per Login*/

        .login-container {
            margin-top: 5%;
            margin-bottom: 5%;
        }
        .login-form-2 {
            padding: 5%;
            background-color: #0062cc;
            background-image: url("../../../../images/navbar.png");
            background-size: cover;
            box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
        }

        .login-form-2 h3 {
            text-align: center;
            color: #fff;
        }

        .login-container form {
            padding: 10%;
        }

        .btnSubmit {
            width: 50%;
            border-radius: 1rem;
            padding: 1.5%;
            border: none;
            cursor: pointer;
            transition-duration: 0.4s;
            background-color: white;
            border: 2px solid #e7e7e7;
        }
            .btnSubmit:hover {
                background-color: #e7e7e7;
                border: 2px solid #97d2ec;
            }

        .login-form-2 .btnSubmit {
            font-weight: 600;
            color: #0062cc;
        }

        .login-form-2 .ForgetPwd {
            color: #fff;
            font-weight: 600;
            text-decoration: none;
        }

    </style>


<h1>@ViewData["Title"]</h1>

<div class="container login-container">
    <div class="row">
        <div class="col-md-12 login-form-2">
            <h3>@ViewData["Title"]</h3>
            <hr />
            <section>
                <form id="account" method="post">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group ForgetPwd">
                        <label asp-for="Input.Email"></label>
                        <input asp-for="Input.Email" class="form-control" />
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <div class="form-group ForgetPwd">
                        <label asp-for="Input.Password"></label>
                        <input asp-for="Input.Password" class="form-control" />
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <div class="checkbox">
                            <label class="ForgetPwd" asp-for="Input.RememberMe">
                                <input asp-for="Input.RememberMe" />
                                @Html.DisplayNameFor(m => m.Input.RememberMe)
                            </label>
                        </div>
                    </div>
                    <div class="form-group text-center">
                        <button type="submit" class="btn btnSubmit">Login</button>
                    </div>
                    <div class="form-group mt-5 mb-n5">
                        <p>
                            <a id="forgot-password" class="ForgetPwd" asp-page="./ForgotPassword">Hai dimenticato la password?</a>
                        </p>
                        <p>
                            <a asp-page="./Register" class="ForgetPwd" asp-route-returnUrl="@Model.ReturnUrl">Registrati</a>
                        </p>
                        <p>
                            <a id="resend-confirmation" class="ForgetPwd" asp-page="./ResendEmailConfirmation">Rinvia email di conferma</a>
                        </p>
                    </div>
                </form>
            </section>
        </div>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
