@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Conferma Reset Password";
}

<h1>@ViewData["Title"]</h1>
<p>
    La tua password è stata resettata. <a asp-page="./Login">Clicca qui per loggare</a>.
</p>
