<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Gestionale</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="Corsi">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Corsi
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="Moduli">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Moduli
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="Personale">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Dipendenti
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="Partecipanti">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Partecipanti
            </NavLink>
        </li>

    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
