@page "/"
@using Gestionale.Data
@using Microsoft.EntityFrameworkCore
@inject ApplicationDbContext db
<div class="container-fluid">
    <h2>IL TUO GESTIONALE A PORTATA DI MANO...</h2>
</div>
<th></th>
<div class="container-fluid">
    <h3>Dirigiti verso le tabelle con facilità!</h3>
</div>



<div class="row mx-5 mt-5" align="center">
    <div class="col-3">
        <div class="card">
            <a href="/Corsi">
                <img class="card-img-top" src="images/corsi.jpg">
            </a>
            <div class="card-body">
                <h5 class="card-title">CORSI</h5>
            </div>
            <p>
                <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#card1" aria-expanded="false">
                    Cosa troverai...
                </button>
                <div class="collapse" id="card1">
                    <div class="card card-body m-2">
                        Dirigendoti questa pagina troverai la tabella di tutti i corsi che inserisci e addirittura i moduli cliccando nel tasto dedicato!
                    </div>
                </div>
            </p>
        </div>
    </div><div class="col-3">
        <div class="card">
            <a href="/Moduli">
                <img class="card-img-top" src="images/moduli.jpg">
            </a>
            <div class="card-body">
                <h5 class="card-title">MODULI</h5>
            </div>
            <p>
                <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#card2" aria-expanded="false">
                    Cosa troverai...
                </button>
                <div class="collapse" id="card2">
                    <div class="card card-body m-2">
                        Dirigendoti questa pagina troverai la tabella di tutti i moduli che inserisci e addirittura gli esami cliccando nel tasto dedicato!
                    </div>
                </div>
            </p>
        </div>
    </div>
    <div class="col-3">
        <div class="card">
            <a href="/Partecipanti">
                <img class="card-img-top" src="images/partecipanti.jpg">
            </a>
            <div class="card-body">
                <h5 class="card-title">PARTECIPANTI</h5>
            </div>
            <p>
                <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#card3" aria-expanded="false">
                    Cosa troverai...
                </button>
                <div class="collapse" id="card3">
                    <div class="card card-body m-2">
                        Dirigendoti questa pagina troverai la tabella di tutti i partecipanti che inserisci e addirittura i voti degli esami sostenuti cliccando nel tasto dedicato!
                    </div>
                </div>
            </p>
        </div>
    </div>
    <div class="col-3">
        <div class="card">
            <a href="/Personale">
                <img class="card-img-top" src="images/personale.jpg">
            </a>
            <div class="card-body">
                <h5 class="card-title">PERSONALE</h5>
            </div>
            <p>
                <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#card4" aria-expanded="false">
                    Cosa troverai...
                </button>
                <div class="collapse" id="card4">
                    <div class="card card-body m-2">
                        Dirigendoti questa pagina troverai la tabella di tutto il personale che inserisci e addirittura le informazioni cliccando nel tasto dedicato!
                    </div>
                </div>
            </p>
        </div>
    </div>
</div>