@page "/Home"

<h1>IL TUO GESTIONALE A PORTATA DI MANO...</h1>



<div class="container-fluid">
    <a href="/Corsi">
        <img src="corso.jpg">
    </a>
</div>
<div class="container-fluid">
    <a href="/Partecipante">
        <img src="partecipanti.jpg">
    </a>
</div>
<div class="container-fluid">
    <a href="/Personale">
        <img src="personale.jpg">
    </a>
</div>
<div class="container-fluid">
    <a href="/Moduli">
        <img src="moduli.jpg">
    </a>
</div>
<div class="container-fluid">
    <a href="/iscrizione">
        <img src="iscrizione.jpg">
    </a>
</div>
