@page "/"
@using Gestionale.Data
@using Microsoft.EntityFrameworkCore
@inject ApplicationDbContext db
    <div class="container-fluid">
        <h2>IL TUO GESTIONALE A PORTATA DI MANO...</h2>
    </div>
    <th></th>
    <div class="container-fluid">
        <h3>Dirigiti verso le tabelle con facilità!</h3>
    </div>



    <div class="row"  align="center">
        <div class="col-10 col-lg-10 mx-auto mt-5">
            <div class="card-deck">
                <div class="card" vspace="40" rounded shadow>
                    <a href="/Corsi">
                        <img class="card-img-top" src="corso.jpg" alt="Card image cap">
                    </a>
                    <div class="card-body" >
                        <h5 class="card-title" align="center">CORSI</h5>
                    </div>
                    <p>
                        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#card1" aria-expanded="false" aria-controls="collapseExample">
                            Cosa troverai...
                        </button>
                        <div class="collapse" id="card1">
                            <div class="card card-body">
                                Dirigendoti questa pagina troverai la tabella di tutti i corsi che inserisci e addirittura i moduli cliccando nel tasto dedicato!
                            </div>
                        </div>
                    </p>
                </div>
                <div class="card " vspace="40" rounded shadow>
                    <a href="/Moduli">
                        <img class="card-img-top" src="moduli.jpg" alt="Card image cap">
                    </a>
                    <div class="card-body">
                        <h5 class="card-title" align="center">MODULI</h5>
                    </div>
                    <p>
                        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#card2" aria-expanded="false" aria-controls="collapseExample">
                            Cosa troverai...
                        </button>
                        <div class="collapse" id="card2">
                            <div class="card card-body">
                                Dirigendoti questa pagina troverai la tabella di tutti i moduli che inserisci e addirittura gli esami cliccando nel tasto dedicato!
                            </div>
                        </div>
                    </p>
                </div>
                <div class="card" vspace="40" rounded shadow>
                    <a href="/Partecipanti">
                        <img class="card-img-top" src="partecipante.jpg" alt="Card image cap">
                    </a>
                    <div class="card-body ">
                        <h5 class="card-title" align="center">PARTECIPANTI</h5>
                    </div>
                    <p>
                        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#card3" aria-expanded="false" aria-controls="collapseExample">
                            Cosa troverai...
                        </button>
                        <div class="collapse" id="card3">
                            <div class="card card-body">
                                Dirigendoti questa pagina troverai la tabella di tutti i partecipanti che inserisci e addirittura i voti degli esami sostenuti cliccando nel tasto dedicato!
                            </div>
                        </div>
                    </p>
                </div>
                <div class="card" vspace="40">
                    <a href="/Personale">
                        <img class="card-img-top" src="personale.jpg" alt="Card image cap">
                    </a>
                    <div class="card-body">
                        <h5 class="card-title" align="center">PERSONALE</h5>
                    </div>
                    <p>
                        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#card4" aria-expanded="false" aria-controls="collapseExample">
                            Cosa troverai...
                        </button>
                        <div class="collapse" id="card4">
                            <div class="card card-body">
                                Dirigendoti questa pagina troverai la tabella di tutto il personale che inserisci e addirittura le informazioni cliccando nel tasto dedicato!
                            </div>
                        </div>
                    </p>
                </div>
            </div>
        </div>
    </div>


