@page "/AggiungiPartecipanti"
@page "/AggiungiPartecipanti/{Id:int}"
@using Gestionale.Data
@using Microsoft.EntityFrameworkCore
@inject ApplicationDbContext db
@inject NavigationManager navigationManager

@if (Id == 0)
{


<h2>Inserisci un nuovo partecipante</h2>

                <hr />
                                <EditForm Model="P" OnSubmit="()=> SaveNuovoPartecipante()">
                                    <DataAnnotationsValidator />

                                    <div class="form-row">
                                        @*<form>
                                                <div class="form-group">
                                                    <label>Inserisci la foto del partecipante</label>
                                                    <input type="file" class="form-control-file">
                                                </div>
                                            </form>*@
                                        <div class="form-group col-md-6">
                                            <label>Nome</label>
                                            <InputText class="form-control" @bind-Value="P.Nome" required />

                                        </div>
                                        <div class="form-group col-md-6">
                                            <label>Cognome</label>
                                            <InputText class="form-control" @bind-Value="P.Cognome" required />
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label>Data di nascita</label>
                                            <InputDate class="form-control" @bind-Value="P.DataNascita" required></InputDate>
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label>Email</label>
                                            <InputText class="form-control" @bind-Value="P.Email" required />
                                        </div>
                                    </div>

                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label>Indirizzo</label>
                                            <InputText class="form-control" @bind-Value="P.Indirizzo" required />
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label>Città</label>
                                            <InputText class="form-control" @bind-Value="P.Citta" required />
                                        </div>
                                    </div>

                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label>Telefono</label>
                                            <InputText class="form-control" @bind-Value="P.Telefono" required />
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label>Diploma</label>
                                            <InputText class="form-control" @bind-Value="P.Diploma" required />
                                        </div>
                                    </div>

                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label>Anno del diploma</label>
                                            <InputDate class="form-control" @bind-Value="P.AnnoDiploma" required></InputDate>
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label>Data d'iscrizione</label>
                                            <!--<InputDate class="form-control" bind-Value="P.Iscrizioni.DataIscrizione" required></InputDate>-->

                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label>Corso</label>
                                            <select class="form-control" @bind="P.CorsiId" required>
                                                <option value="">Select a city</option>
                                                @foreach (var Corso in ListaCorsi)
                                                {
                            <option value="@Corso.Id">@Corso.Nome</option>}
                                            </select>
                                        </div>


                                    </div>

                                    <hr />
                                    <button type="submit" value="save" class="btn btn-primary">Inserisci</button>
                                </EditForm> }
                            else
                            {
                @foreach (var Alunno in ListaPartecipanti)
                {
                    if (Id == Alunno.Id)
                    {
                        ThisAlunno = Alunno;
                    }
                }
                                <EditForm Model="P" OnSubmit="()=> SaveNuovoPartecipante()">
                                    <DataAnnotationsValidator />

                                    <div class="form-row">
                                        @*<form>
                                                <div class="form-group">
                                                    <label>Inserisci la foto del partecipante</label>
                                                    <input type="file" class="form-control-file">
                                                </div>
                                            </form>*@
                                        <div class="form-group col-md-6">
                                            <label>Nome</label>
                                            <InputText class="form-control" @bind-Value="P.Nome" required />
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label>Cognome</label>
                                            <InputText class="form-control" @bind-Value="P.Cognome" required />
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label>Data di nascita</label>
                                            <InputDate class="form-control" @bind-Value="P.DataNascita" required></InputDate>
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label>Email</label>
                                            <InputText class="form-control" @bind-Value="P.Email" required />
                                        </div>
                                    </div>

                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label>Indirizzo</label>
                                            <InputText class="form-control" @bind-Value="P.Indirizzo" required />
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label>Città</label>
                                            <InputText class="form-control" @bind-Value="P.Citta" required />
                                        </div>
                                    </div>

                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label>Telefono</label>
                                            <InputText class="form-control" @bind-Value="P.Telefono" required />
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label>Diploma</label>
                                            <InputText class="form-control" @bind-Value="P.Diploma" required />
                                        </div>
                                    </div>

                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label>Anno del diploma</label>
                                            <InputDate class="form-control" @bind-Value="P.AnnoDiploma" required></InputDate>
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label>Data d'iscrizione</label>
                                            <!--<InputDate class="form-control" bind-Value="P.Iscrizioni.DataIscrizione"></InputDate>-->
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label>Corso</label>
                                            <select class="form-control" @bind="P.CorsiId" required>
                                                <option value="">Seleziona un corso.</option>
                                                @foreach (var Corso in ListaCorsi)
                                                {
                            <option value="@Corso.Id">@Corso.Nome</option>}
                                            </select>
                                        </div>

                                    </div>
                                    <hr />
                                    <button type="submit" value="save" class="btn btn-primary">Inserisci</button>

                                </EditForm>}



@code { [Parameter]
    public int Id { get; set; }

    private Corso[] ListaCorsi;

    private Partecipante[] ListaPartecipanti;

    private Dipendente[] ListaDipendenti;

    private Partecipante P;
    private Partecipante ThisAlunno = new Partecipante();

    protected override async Task OnInitializedAsync()
    {
        ListaCorsi = await db.Corsi.ToArrayAsync();

        ListaPartecipanti = await db.Partecipanti.ToArrayAsync();
        ListaDipendenti = await db.Dipendente.ToArrayAsync();

        if (Id == 0)
        {
            P = new Partecipante()
            {
                DataNascita = DateTime.Now,
                AnnoDiploma = DateTime.Now
            };
        }
        else
        {
            P = await db.Partecipanti.FindAsync(Id);
        }
    }


    private async Task SaveNuovoPartecipante()

    {
        if (Id == 0)
        {

            db.Partecipanti.Add(P);
            await db.SaveChangesAsync();

            navigationManager.NavigateTo("/Partecipanti");
        }
        else
        {
            await db.SaveChangesAsync();
        }

    } }