@page
@model GenerateRecoveryCodesModel
@{
    ViewData["Title"] = "Genera codici di recupero con autenticazione a due fattori (2FA)";
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<partial name="_StatusMessage" for="StatusMessage" />
<h4>@ViewData["Title"]</h4>
<div class="alert alert-warning" role="alert">
    <p>
        <span class="glyphicon glyphicon-warning-sign"></span>
        <strong>Conserva questi codici in un posto sicuro.</strong>
    </p>
    <p>
        Se perdi il dispositivo e non disponi dei codici di recupero, perderai l'accesso al tuo account.
    </p>
    <p>
        La generazione di nuovi codici di ripristino non modifica le chiavi utilizzate nelle app di autenticazione. 
        Se si desidera modificare la chiave utilizzata in un'app di autenticazione, è necessario <a asp-page="./ResetAuthenticator">Resettare la tua chiave di autenticazione.</a>
    </p>
</div>
<div>
    <form method="post" class="form-group">
        <button class="btn btn-danger" type="submit">Genera codici di recupero</button>
    </form>
</div>