@page
@model ResetAuthenticatorModel
@{
    ViewData["Title"] = "Reimposta la chiave di autenticazione";
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<partial name="_StatusMessage" for="StatusMessage" />
<h4>@ViewData["Title"]</h4>
<div class="alert alert-warning" role="alert">
    <p>
        <span class="glyphicon glyphicon-warning-sign"></span>
        <strong>Se ripristini la chiave di autenticazione, l'app di autenticazione non funzionerà fino a quando non la riconfigurerai.</strong>
    </p>
    <p>
        Questo processo disabilita 2FA fino a quando non verifichi l'app di autenticazione.
        Se non completi la configurazione dell'app di autenticazione, potresti perdere l'accesso al tuo account.
    </p>
</div>
<div>
    <form id="reset-authenticator-form" method="post" class="form-group">
        <button id="reset-authenticator-button" class="btn btn-danger" type="submit">Resetta la chiave di autenticazione</button>
    </form>
</div>